.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .section-one {
    width: 50%;
    article {
      img {
        width: 500px;
      }
    }
  }
  .section-two {
    width: 50%;
  }
}
